<div id="progress-bar">
  <h2 class="off-screen">Booking progress indicator</h2>
  <ol id="progress-steps">
    <li class="progress-step" style="width: 16.67%;">
      <span class="count highlight-index"></span>
    </li>
    <li class="progress-step" style="width: 20%;">
      <span class="count highlight-index"></span>
      <span class="current-donation-step off-screen">current donation step:</span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
  </ol>
</div>
<br></br>
<div class="field">
  <%= f.label :time %><br />
  <%= f.date_field :date, class: 'bkgdevil-datepicker'%>
<p> at </p>
  <%= f.text_field :time, class: 'bkgdevil-timepicker'%>
</div>
