<h1> Progress: 25% </h1>


<h1> When?</h1>

<div class="field">
  <%= f.label :time %><br />
  <%= f.date_field :date, class: 'bkgdevil-datepicker'%>
  <%= f.text_field :time, class: 'bkgdevil-timepicker'%>
</div>
