
<h1>Help us confirm your booking</h1>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_area :name %>
</div>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.text_area :phone_number %>
</div>
