<body>
  <h1>How many people in your group?</h1>
<div class="field">
  <%= f.label :number_of_guests %><br />
  <%= f.text_area :number_of_visitors %>
</div>
<a href="/pages/admin">Admin login</a>
<a href="/bookings/edit">Edit an existing booking</a>
</body>
