<div id="progress-bar">
  <h2 class="off-screen">Booking progress indicator</h2>
  <ol id="progress-steps">
    <li class="progress-step" style="width: 16.67%;">
      <span class="count highlight-index"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count highlight-index"></span>
      <span class="current-donation-step off-screen">current donation step:</span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
  </ol>
</div>
  <div>
    <div>
    <h1>Confirm your order</h1>
      <%= f.text_area :name, placeholder: "Name" %>
    </div>
    <div>
      <%= f.text_area :phone_number, placeholder: "Phone number" %>
    </div>
    <div>
    <%= f.text_area :dietary_preferences, placeholder: "Dietary preferences" %>
    </div>
  </div>
