<h1> Progress: 25% </h1>


<h1> When?</h1>

<div class="field">
  <%= f.label :time %><br />
  <%= f.date_field :date%>
  <%= f.select :time, [
     ["5pm", 17], ["6pm", 18], ["7pm", 19], ["8pm", 20], ["9pm", 21]
], class:''%>
</div>
