/* line 12, /Users/emilysutton/booking-devil/vendor/assets/stylesheets/active_admin.css.scss */
.status_tag {
  background-color: #F6edee;
}

/* line 16, /Users/emilysutton/booking-devil/vendor/assets/stylesheets/active_admin.css.scss */
.wysihtml5-sandbox {
  box-sizing: border-box;
}

/* line 20, /Users/emilysutton/booking-devil/vendor/assets/stylesheets/active_admin.css.scss */
#modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
  opacity: 0.6;
}

/* line 32, /Users/emilysutton/booking-devil/vendor/assets/stylesheets/active_admin.css.scss */
.activeadmin-wysihtml5-modal {
  background-color: white;
  width: 550px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

/* line 40, /Users/emilysutton/booking-devil/vendor/assets/stylesheets/active_admin.css.scss */
.modal-title {
  border-bottom: 1px solid #ccc;
  background-color: #F1F1F1;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 110%;
  border-top-radius: 5px;
}
