<!-- Navbar -->

<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hillside Kitchen & Cellar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ul>
	<link rel="stylesheet" href="application.css">
		<li><a href="#">Visit</a></li>
		<li><a href="#">Team</a></li>
		<li><a href="#">Menus</a></li>
		<li><a href="/book">Book Now</a></li>
		<li><a href="/">Bookings</a></li>
</ul>

<!-- Progress bar -->

<ul>
<link rel="stylesheet" href="application.css">
	<li><a href="#">Visit</a></li>
	<li><a href="#">Team</a></li>
	<li><a href="#">Menus</a></li>
	<li><a href="/book">Book Now</a></li>
	<li><a href="/">Bookings</a></li>
</ul>

<!-- main body -->

<strong>Booking Page</strong>
<h1>Hillside Kitchen & Cellar</h1>
<a href="http://www.hillsidekitchen.co.nz">"Home"</a>

<h1>Let's book you in</h1>

<%= render 'form' %>
