<div class="navbar">
	<ul>
		<li><a href="#">Visit</a></li>
		<li><a href="#">Team</a></li>
		<li><a href="#">Menus</a></li>
		<li><a href="/book">Book Now</a></li>
		<li><a href="/">Bookings</a></li>
	</ul>
</div>
