<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<title>Hillside Kitchen & Cellar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="application.css">
	<li><a href="#">Visit</a></li>
	<li><a href="#">Team</a></li>
	<li><a href="#">Menus</a></li>
	<li><a href="/pages/book">Book Now</a></li>
	<li><a href="/">Bookings</a></li>
</ul>
</html>

<h1>Welcome to Hillside!</h1>

<a href=/page/tables>To make a booking, click here</a>

<title>Bookings</title>
<h1>All the bookings ever</h1>


<% @bookings.each do |booking| %>
  <li> <%= booking.name %> </li>
<% end %>
