<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<title>Hillside Kitchen & Cellar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="application.css">
	<li><a href="#">Visit</a></li>
	<li><a href="#">Team</a></li>
	<li><a href="#">Menus</a></li>
	<li><a href="/pages/book">Book Now</a></li>
	<li><a href="/">Bookings</a></li>
</ul>
</html>
<!-- main body -->

<strong>Booking Screen 1</strong>
<h1>Hillside Kitchen & Cellar</h1>
<p>Book a table at Hillside tonight</p>

<h2>Information About Hillside</h2>

<p>This is the info page where people book from</p>

<a href=/page/tables>Book Now</a>
