<strong>Booking Screen 1</strong>
<h1>Hillside Kitchen & Cellar</h1>
<p>Book a table at Hillside tonight</p>

<h2>Information About Hillside</h2>

<p>This is the info page where people book from</p>

<a href=/page/tables>Book Now</a>
