/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require jquery.datetimepicker
 *= require_tree .
 *= require_self
 */

 $font-stack:    Helvetica, sans-serif;
 $primary-color: #333;


 h1   {
   font: 100% Helvetica, sans-serif;
   colour: #333;
 }

 body {
   font: 100% $font-stack;
   color: $primary-color;
 }


 body { padding-top: 60px; }


  .article {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
  }
