<h1>How many people in your party?</h1>

<div class="field">
    <%= f.label :number_of_visitors %><br />
    <%= f.text_field :number_of_visitors %>
</div>

<h1> What day would you like to eat?</h1>
<div class="field">
  <%= f.label :time %><br />
  <%= f.datetime_field :time, class: 'datetimepicker' %>
</div>
